@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.topnav-main {
  background-color: white;
  overflow: hidden;
  border-bottom: 0.5px solid rgb(188, 199, 209);
  height: 40px;
  position: relative;
}

/* Style the links inside the navigation bar */
/* Add a color to the active/current link */
.topnav-header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
  margin: auto 1.5%;
}

.continic {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin: 6.5px 0px;
  color: rgb(90, 52, 3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.item-link {
  font-size: 1.2rem;
  margin: auto 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  overflow: hidden;
  background-color: rgba(153, 90, 8, 0.8);
  padding: 0 5px;
  border-radius: 25%;
}

.topnav-item-right {
  margin: 6.5px 0px;
  text-align: right;
}

.il-1 {
  background-color: rgb(0, 119, 181);
}

.il-2 {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.il-3 {
  background-color: rgb(66, 103, 178);
}

#topnav-slider {
  position: sticky;
  background-color: white;
  overflow: hidden;
  border-bottom: 0.5px solid white;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  width: 100%;
  border-bottom: 0.5px solid rgb(188, 199, 209);

}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

#topnav-slider ul {
  text-align: center;
  margin: 4px auto;
  white-space: nowrap;
    -ms-overflow-style: none;
      /* for Internet Explorer, Edge */
      scrollbar-width: none;
      /* for Firefox */
      overflow-y: scroll;
}
#topnav-slider ul::-webkit-scrollbar{
  display: none;
}

.item-link-slider {
  font-size: 0.8rem;
  margin: auto 1.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(153, 90, 8);
  display: inline-block;
  background-color: rgba(245, 245, 245);
  padding: 0 6px;
  border-radius: 8px;
}

.item-link-slider:hover {
  color: rgb(0, 85, 135);
}